<ul style="padding: 0;">
<% @bookings.each do |booking| %>
  <li style="list-style: none;">
    <div class="card-product">
      <img src="<%= cl_image_path booking.printer.photo.key, height: 300, width: 400, crop: :fill %>"/>
      <div class="card-product-infos">
        <h2>Booking for <%= booking.printer.model %> </h2>
        <% if current_user.is_owner %>
          <%= simple_form_for(booking) do |f|%>
            <%= f.input :status, collection: ["Accepted", "Rejected"], default: true, label: "Change Status" %>
            <%= f.button :submit, "Update", class:"btn btn-flat m-3" %>
          <% end %>
        <% else %>
          <p>Meeting Time: <%= booking.meeting_time %></p>
          <p>Address: <%= booking.printer.user.address %></p>
        <% end %>
      </div>
    </div>
  </li>
<% end %>
</ul>
