<div class="container-fluid">
  <div class="row">
    <div class="form-content col-sm m-3 p-2">
      <h3 class="m-2 text-warning">Pending Bookings</h3>
      <ul style="padding: 0;">
      <% @bookings.each do |booking| %>
        <% if booking.status == "Pending"%>
          <li style="list-style: none;">
            <div class="card-product">
              <img src="<%= cl_image_path booking.printer.photo.key, height: 300, width: 400, crop: :fill %>"/>
              <div class="card-product-infos">
                <h2>Booking for <%= booking.printer.model %> </h2>
                <% if current_user.is_owner %>
                  <%= simple_form_for(booking) do |f|%>
                    <%= f.input :status, collection: ["Accepted", "Rejected"], default: true, label: "Change Status" %>
                    <%= f.button :submit, "Update", class:"btn btn-flat m-3" %>
                  <% end %>
                <% else %>
                  <p>Meeting Time: <%= booking.meeting_time %></p>
                  <p>Address: <%= booking.printer.user.address %></p>
                  <p>Status: <%= booking.status %></p>
                <% end %>
              </div>
            </div>
          </li>
        <%end%>
      <% end %>
      </ul>
    </div>
    <div class="form-content col-sm m-3 p-2">
      <h3 class="m-2 text-success">Accepted Bookings</h3>
      <ul style="padding: 0;">
      <% @bookings.each do |booking| %>
        <% if booking.status == "Accepted"%>
          <li style="list-style: none;">
            <div class="card-product">
              <img src="<%= cl_image_path booking.printer.photo.key, height: 300, width: 400, crop: :fill %>"/>
              <div class="card-product-infos">
                <h2>Booking for <%= booking.printer.model %> </h2>
                <% if current_user.is_owner %>
                  <%= simple_form_for(booking) do |f|%>
                    <%= f.input :status, collection: ["Accepted", "Rejected"], default: true, label: "Change Status" %>
                    <%= f.button :submit, "Update", class:"btn btn-flat m-3" %>
                  <% end %>
                <% else %>
                  <p>Meeting Time: <%= booking.meeting_time %></p>
                  <p>Address: <%= booking.printer.user.address %></p>
                  <p>Status: <%= booking.status %></p>
                <% end %>
              </div>
            </div>
          </li>
        <%end%>
      <% end %>
      </ul>
    </div>
  </div>
</div>
