<div class="form-content m-3 p-3">
  <h2 class="ml-3 mt-2" style="font-weight: bold;"> All your bookings </h2>
  <div class="container-fluid">
    <div class="row">
      <div style = "box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);" class="form-content col-sm m-3 p-2">
        <h3 style="font-weight: bold;" class="m-2 text-warning">Pending Bookings</h3>
        <hr />
        <ul id='sort-lists1' style="padding: 0;">
          <% @bookings.each do |booking| %>
            <% if booking.status == "Pending"%>
              <li style="list-style: none;">
                <div class="card-product no-shadow">
                  <img src="<%= cl_image_path booking.printer.photo.key, height: 300, width: 400, crop: :fill %>"/>
                  <div class="card-product-infos">
                    <h2>Booking for <%= booking.printer.model %> </h2>
                    <% if current_user.is_owner %>
                      <%= simple_form_for(booking) do |f|%>
                        <%= f.input :status, collection: ["Accepted", "Rejected"], default: true, label: "Change Status" %>
                        <%= f.button :submit, "Update", class:"btn btn-flat" %>
                      <% end %>
                    <% else %>
                      <p>Meeting Time: <%= booking.meeting_time %></p>
                      <p>Address: <%= booking.printer.user.address %></p>
                      <p>Status: <%= booking.status %></p>
                    <% end %>
                  </div>
                </div>
              </li>
            <%end%>
          <%end%>
        </ul>
      </div>
      <div style = "box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);" class="form-content col-sm m-3 p-2">
        <h3 style="font-weight: bold;" class="m-2 text-success">Accepted Bookings</h3>
        <hr />
        <ul id='sort-lists2' style="padding: 0;">
          <% @bookings.each do |booking| %>
            <% if booking.status == "Accepted"%>
              <li style="list-style: none;">
                <div class="card-product no-shadow">
                  <img src="<%= cl_image_path booking.printer.photo.key, height: 300, width: 400, crop: :fill %>"/>
                  <div class="card-product-infos">
                    <h2>Booking for <%= booking.printer.model %> </h2>
                    <% if current_user.is_owner %>
                      <%= simple_form_for(booking) do |f|%>
                        <%= f.input :status, collection: ["Completed", "Rejected"], default: true, label: "Change Status" %>
                        <%= f.button :submit, "Update", class:"btn btn-flat" %>
                      <% end %>
                    <% else %>
                      <p>Meeting Time: <%= booking.meeting_time %></p>
                      <p>Address: <%= booking.printer.user.address %></p>
                      <p>Status: <%= booking.status %></p>
                    <% end %>
                  </div>
                </div>
              </li>
            <%end%>
          <%end%>
        </ul>
      </div>
      <div style = "box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);" class="form-content col-sm m-3 p-4">
        <h3 style="font-weight: bold;" class="m-2 text-primary">Completed Bookings</h3>
        <hr />
        <ul id='sort-lists2' style="padding: 0;">
          <% @bookings.each do |booking| %>
            <% if booking.status == "Completed"%>
              <li style="list-style: none;">
                <div class="card-product no-shadow">
                  <img src="<%= cl_image_path booking.printer.photo.key, height: 300, width: 400, crop: :fill %>"/>
                  <div class="card-product-infos">
                    <h2>Booking for <%= booking.printer.model %> </h2>
                    <p>Meeting Time: <%= booking.meeting_time %></p>
                    <p>Address: <%= booking.printer.user.address %></p>
                    <p>Status: <%= booking.status %></p>
                    <% if !current_user.is_owner %>
                      <button type="button" class="btn btn-flat mt-2" data-toggle="modal" data-target="#printer-<%=booking.printer.id%>">
                        Add review
                      </button>

                      <div class="modal fade" id="printer-<%=booking.printer.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Add Review</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <%= render partial: "review_card", locals: {printer: booking.printer, review: @review}%>
                            </div>
                          </div>
                        </div>
                      </div>
                    <%end%>


                  </div>
                </div>
              </li>
            <%end%>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>
