<div class="container">
  <div class="row justify-content-center py-5">
    <div class="form-content col-sm-12 col-md-8 col-lg-10 my-5 p-5">
      <h2 class="my-3">Book <%= @printer.model %> </h2>
        <%= simple_form_for [@printer, @booking] do |f| %>
        <%= f.text_field :meeting_time, placeholder: 'Choose a date that works for you', data: { behavior: "flatpickr" }, class: "mb-4"%>
        <%= f.button :submit, "Book Printer", class: "btn-flat my-3" %>
        <% if current_user && current_user.is_owner %>
          <%=link_to "Cancel", printers_path(@printer), class: "btn btn-flat"%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
