<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%=link_to root_path, class:"navbar-brand" do %>
    <i class="fas fa-print"></i>
  <%end%>
  <div class="nav-collapse">
    <%=link_to "New Search", printers_path, class: "btn-ghost"%>
    <% if user_signed_in? %>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-ghost"%>
    <% else %>
      <%=link_to "Sign Up", new_user_registration_path%>
      <%=link_to "Login", new_user_session_path%>
    <% end %>
  </div>
</div>
