<div class="container">
  <div class="row justify-content-center">
    <div class="form-content col-sm-12 col-md-6 my-5 p-4">
      <div class="card-category mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @printer.photo.key, height: 300, width: 400, crop: :fill %>') ">
      </div>
      <h2><strong>Model: </strong><%= @printer.model %></h2>
      <h2><strong>Price: </strong>$<%= @printer.price %></h2>
      <% if user_signed_in?%>
        <hr />
        <div class="container container pl-0">
          <div class="row justify-content-left pl-1">
            <div class="form-content col-sm-12 col-md-8 col-lg-12 my-2 p-2">
              <h2 class="mb-4">Book this printer </h2>
                <%= simple_form_for [@printer, @booking] do |f| %>
                <%= f.input :meeting_time %>
                <%= f.button :submit, "Book Printer", class: "btn-flat mt-4 py-3 w-100" %>
                <% if current_user && current_user.is_owner %>
                  <%=link_to "Cancel", printers_path(@printer), class: "btn btn-flat"%>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <%else %>
        <%= link_to "Sign in to book this printer", new_printer_booking_path(@printer), class: "btn btn-flat mt-3" %>
      <%end%>
      <% if current_user && @printer.user == current_user %>
        <%= link_to "See bookings for this printer", printer_bookings_path(@printer), class: "btn btn-flat mt-3" %>
      <% end %>
    </div>
  </div>
</div>
